

body {
	font-family: "Optima", Arial ;
	margin: 0px;
	padding: 0px;
	background-color: #FDF5E6;


}

header {
	width: 100%;
}

h1 {
	font-size: 180%;
	margin-left: 20px;
	text-align: center;
}

h3 {
	text-align: center;
}

nav {
	background-color: #DEB887;
	font-size: 120%;
	width: 100%;
	height: 70px;
	border: ridge gray;
}

li {
	list-style-type: none;
}


ul{
	display: flex;
	margin: 0px;
	padding: 0px;
	justify-content: space-around;

}

a.nav {
	text-decoration: none;
	display: inline-block;
	padding-left: 30px;
	padding-right: 60px;
	padding-top:20px;
}

a.states {

	display: inline-block;
}

}

.table {
	display: table;
	margin: 0 auto;

}

table {
	border-collapse: collapse;
	margin-top: 30px;
	font-size: 0.8em;
	width:50%;
	height: 100px;
	margin-left:auto; 
    margin-right:auto;
}

td {
    border: 1px solid #333;
    text-align:center;
    white-space: nowrap;
    padding: 0.8em;
}

td.head {
	font-weight: bold;
	white-space: normal;
}



td.over {
	color: #006400;
}

td.under{
	color: #800000;
}

.formulaire {
	margin-left: 37%;
	margin-top: 100px;
}

input {

}

label{

	margin-right: 20px;
}


.infos-background {
	float: left;
	margin-left:20%;
	margin-right: 10%;
	width: :50%;
}

.infos-input {

	overflow: auto;
	width: : 50%;
}

/*
}

.table {
	display: table;
	margin: 0 auto;

}


section {
	margin:0 0 0 0;
}


table {
	border-collapse: collapse;
	font-size: 0.8em;
	width:30%;
	height: 150px;
	margin-left:auto; 
    margin-right:auto;
}

title {

}


thead;


tfoot {
    background-color: #333;
    color: #fff;
}
*/


